/* UNICEF RapidSMS UI
 * vim:set noet:
 * --
 * questions.css
 * --
 * This stylesheet contains the customizations just
 * for the "Questions" app, to display the sections,
 * questions, answers, and graphs in a more contextual
 * way that the global stylesheets allow */


#inner table {
	width: 100%;
}

	#inner td,
	#inner th {
		width: 1%;
		white-space: nowrap;
	}
	
		#inner td.question,
		#inner th.question {
			width: auto;
		}


#inner td.visualization {
	background: #f8f8f8;
}
