/* UNICEF RapidSMS UI
 * vim:set noet:
 * --
 * questions.css
 * --
 * This stylesheet contains the customizations just
 * for the "Questions" app, to display the sections,
 * questions, answers, and graphs in a more contextual
 * way that the global stylesheets allow */


#inner table {
	width: 100%;
}

	#inner td,
	#inner th {
		width: 1%;
		white-space: nowrap;
	}
	
		#inner td.question,
		#inner th.question {
			white-space: normal;
			line-height: 1.4;
			width: auto;
		}


div.questions td.number,
div.questions th.number {
	border-right: 1px dotted #eee;
	padding-right: 0.5em;
	text-align: right;
}

#inner td.answers {
	padding-right: 0.5em;
}

/* questions with linked choices list them
 * directly below the question text's line,
 * so make them fairly subtle */
td.question ul.options {
	font-size: 80%;
	padding: 0;
	margin: 0;
}

	td.question ul.options li {
		display: block;
		margin-right: 1.25em;
		margin-top: 0.625em;
		float: left;
		color: #ccc;
	}
